@(myForm:Form[Book])

@import helper._;

<html>
    <head>
        <title>My helper form</title>
        <link rel="stylesheet" href="/assets/stylesheets/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <h1>ตัวอย่างการรับข้อมูลในฟอร์มแบบ Helper Form  </h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-2"> </div>
                <div class="col-sm-8">
                    @helper.form(action=routes.myController.book_post_helper(), 'class->"from-control"){
                        @inputText(myForm("title"), '_label ->"ชื่อหนังสือ", 'size->"50", 'maxlength->"40", 'required->"requied")
                        @inputText(myForm("author"), '_label->"ชื่อผู้แต่ง", 'size->"50", 'maxlength->"40", 'required->"requied" )
                        @inputText(myForm("price"), '_label->"ราคา", 'size->"10")
                        @select(myForm("booktype"), options=Seq("สารคดี"->"สารคดี","นวนิยาย"->"นวนิยาย","หนังสืออ้างอิง"->"หนังสืออ้างอิง"),
                            '_label->"ประเภทหนังสือ" )
                        @inputRadioGroup(myForm("language"), options=Seq("ไทย"->"ไทย", "ต่างประเทศ"->"ต่างประเทศ"), '_label->"ภาษา")
                        @checkbox(myForm("award"), '_label->"เคยได้รับรางวัล")
                        @textarea(myForm("detail"),'_label->"รายละเอียด", 'cols->"65", 'rows->"5")
                        <input type="submit" value="บันทึก" class="btn btn-success">
                        <input type="reset" value="เคลียร์" class="btn btn-danger">
                    }
                    </div>
                <div class="col-sm-2"> </div>
            </div>
        </div>
    </body>
</html>