@(test: String)
<html>
    <head>
        <title>Info Page @test </title>
        <link type="text/css"  rel="stylesheet"
              href="/assets/stylesheets/bootstrap/css/bootstrap.css">
        <link href="../../public/stylesheets/bootstrap/css/bootstrap.css">
    </head>
    <body bgcolor="#ffc0cb">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color: black;color: white">
                    <h1>Dynamic Web Programming </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="background-color: rosybrown">Welcome <br><br><br><br> </div>
                <div class="col-md-4" style="background-color: greenyellow">To <br><br><br></div>
                <div class="col-md-4" style="background-color: pink">Play Framework <br><br><br></div>
            </div>
        </div>

    </body>

</html>