
    <span class="btn-success">Menu:</span>

    <ul class="list-group">
        <a href="/" class="list-group-item list-group-item-success">Home</a>
        <a href="/datatable" class="list-group-item list-group-item-success">Data</a>
        <a href="/train" class="list-group-item list-group-item-success">Train</a>
        <a href="/info" class="list-group-item list-group-item-success">Info</a>
       <hr>
        <a href="/showProfile" class="list-group-item list-group-item-success">Show profile</a>
        <a href="/book_form" class="list-group-item list-group-item-success">Book form dynamic</a>
        <a href="/book_form_helper" class="list-group-item list-group-item-success">Book form helper</a>
        <a href="/book_form_helper_list" class="list-group-item list-group-item-success">Book form helper and List</a>

    <hr>
        <a href="/comics_form_helper_list" class="list-group-item list-group-item-success">ป้อนข้อมูลหนังสือการ์ตูน (Randor & Upload)</a>
        <a href="/showComicsList" class="list-group-item list-group-item-success">แสดงรายการหนังสือการ์ตูน (Randor & Upload)</a>
    </ul>

