<div class="jumbotron">
    <h1>
        Welcome to program trainning for Play framework
    </h1>
    <p>
        is a web page whose construction is
        controlled by an application server processing server-side scripts. <br>
        <a href="#DOM">Go to DOM</a>
        In server-side scripting, parameters determine how the assembly of
        every new web page proceeds, <br> including the setting up of more client-side
        processing.
    </p>
</div>

<div class="alert alert-success">
    <strong>Wornning!</strong>  Please Enter Your Information ...
</div> <br><br>

<button type="button" class="btn">HOME</button>
<button type="button" class="btn btn-info">HOME</button>
<button type="button" class="btn btn-success">HOME</button>
<button type="button" class="btn btn-dark">HOME</button>
<button type="button" class="btn btn-danger">HOME</button>
<BR><br><br>

<div class="btn-group">
    <button type="button" class="btn btn-success">First</button>
    <button type="button" class="btn btn-success">Before</button>
    <button type="button" class="btn btn-success">Next</button>
    <button type="button" class="btn btn-success">Last</button>
</div>
<br><br>
Business of Information System : <span class="badge badge-info">BIS</span>
<br><br>

<button data-toggle="collapse" data-target="#demo" class="btn-success ">Read more..</button>

<div id="demo" class="collapse">
    I like Dynamic Web Programming ....
</div>

<BR><br><br>
<img src="/assets/images/flower.jpg" class="img img-thumbnail" width="100px" height="100px" >
<img src="/assets/images/mypicture.jpg" class="rounded" width="100px" height="100px">
<img src="/assets/images/flower.jpg" class="rounded-circle" width="100px" height="100px">
<img src="/assets/images/mypicture.jpg" class="rounded-circle" width="100px" height="100px">
<br><br>
